/*
.App {
  text-align: center;
}
/*
#app div{
height:100%;
width:100%;
}*/

html {
  height: 100%;
}
body {
  height: 100%;
}

.controls{
    display: flex;
    flex-direction: column;
    /*background: black;*/
    align-items: center;
    justify-content: center;
}

.play_button{
    
    display: flex;
    width: 200px;
    height: 200px;
    color: white;
    margin: 20px;
}

.play_icon{
    background-color: grey;
    margin: auto; 
    padding-left: 0px;
    width: 0;
    height: 0;
    border-right:none;
    border-left: 100px solid white;
    border-bottom: 50px solid transparent;
    border-top: 50px solid transparent;
  }

.play_icon:hover {
    /*background-color: rgba(0,0,0,0);
    border-left-color: grey;*/
      border-left: 120px solid white;
    border-bottom: 60px solid transparent;
    border-top: 60px solid transparent;

}

.pause_icon{
    width: 50px;
    height: 100px;
    /*background: white;*/
    border-right: 10px solid white;
    border-left: 10px solid  white;
    margin: auto; 
}

/*.album_cover{
    height: 250px;
}*/


.f_foward_right{  
    /*margin-right: 30px;*/
    display: flex;
    flex-direction: row; 
}
.f_foward_left{
    /*margin-left: 30px;*/
    display: flex;
    flex-direction: row; 
}

.f_foward_inner{
   background-color: black;
    margin: auto; 
    width: 0;
    height: 0;
    border-right: none;
    border-left: 35px solid white;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
 
}
.b_b_inner{
    background-color: black;
    margin: auto; 
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-right: 35px solid white;
    border-bottom: 30px solid transparent;
}


/* Search Component styles*/

@import url('https://fonts.googleapis.com/css?family=Play');


.container {
  font-family: 'Play', sans-serif;
  padding: 10px;
  display: flex;
  flex-direction: row;
   box-shadow: 1px 1px 1px 1px #ccc;
    width: 75%;
  margin: auto;
}

.playListContainer{
   display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
   overflow: 'scroll'
}

.clickmenu .title .edit{
  flex:1;
  /*margin: auto;*/
  /*fl*/
  align-content:flex-end;
}

.image{
  margin: auto;
  height: 20px;
  width:20px; 
  flex:1;
}
.positioner {
  flex:1;
  width: 5%;
  height: 5%;
}
.edit {
  /*color: #dbcfcf;*/
  /*color:#af9c9c;*/
  color: #cdcdcd;
  position: relative;
  /*padding-left:90px;
  margin-top: -70px;*/
}
.title{
  font-size: 14px;
}
.play-button {
  /*color: #ff8c00;*/
  /*color: #fff;*/
  /*color: tomato;*/
  color: #ff7675;
  /*color: #dbcfcf;*/
  /*position: absolute;*/
   position: relative; 
 
}

.Previous {
    color: red;

}
.edit:hover {
  color: grey
}

.searchBar{
  /*background: red;*/
  /*display: flex;*/
  flex-direction: row;
}
form{
 /*display: flex;
 align-content: center;
 flex-direction: row;*/
}
/*Ionicons.IoSearch{
  margin-left:-40px;
}*/
textarea{
    outline: none;
    /*border-color: inherit;*/
     border: none;
     flex: 1;
     box-shadow: 1px 1px 1px 1px #ccc;
}


input{
 

  width:40px;
  background: red;
  border:none;
}


/*//*/

nav ul {
  display: flex;
  /*margin: 20px;*/
  list-style: none;
}

nav ul li {
  padding: 10px;
  font-size: 1.3em;
  /*letter-spacing: 1px;*/
  /*text-transform: uppercase;*/
  /*font-family: 'Arial','inconsolata', monospace;*/
}

nav ul li a {
  /*color: black;*/
  color: #636e72;
  text-decoration: none;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

nav ul li a:hover {
  /*font-weight: bold;*/
  color: #b2bec3;
}

svg {
   position: absolute;
   /*background: red;*/
}

.playlistList{
  /*background-color: green; */
  display: flex;
  flex-direction: column;
}

.MenuItem{
  background:#f5f5f5; 
}
.react-contextmenu-wrapper{
 overflow: scroll; 
}
.react-contextmenu-item{
 
}

.react-contextmenu.react-contextmenu {
  background: red;
   overflow: scroll; 


}

.divsd{
   overflow: scroll; 
   height: 50px; 
}

/*.hi{
  background: red;
  width: 92px;
}*/

.innerMenu{
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center
}

.innerMenu li{
  padding: 0;
  font-family: Helvetica
}
.click-menu nav {
  background-color: #f5f5f5
}




/**/

.dropbtn {
    background-color: #f5f5f5;
    color:grey;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
     text-align: center;
    
}

.dropdown {
    position: relative;
    /*display: block;*/
    display: flex;
    flex-direction: row; 
}

.dropdown-content {
    display: none;
    left: 130px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  
    height: 150px;
    overflow: scroll;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content p{
    color: grey; 
    text-align: center;
    font-family: Helvetica, sans-serif;
    /*padding: 12px 16px;
    text-decoration: none;
    display: block;*/
}


.dropdown-content a:hover {background-color: #f1f1f1; display: flex;}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: white;
}


::-webkit-scrollbar {
    height: 0px;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/*
.container {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.container::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}*/

controls .Previous{
  /*color: red;*/
color: #ff7675;
}

.results{
      display: flex;
    flex-direction: column;
}



.album {
  flex:1;
  margin: auto;
  font-size: 14px;
  /*background: red;*/
}

.durationMillis {
  flex:1;
  margin: auto;
  font-size: 14px;
  /*background: red;*/
}


.artist{
  flex:1;
  margin: auto;
  font-size: 14px;
  /*background: red;*/
}

#timeline{
    width: 400px;
    height: 20px;
    border-radius: 15px;
    background: rgba(0,0,0,.3);
}

#handle{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
}

.audio-progress {
  height: .5rem;
  width: 100%;
  background-color: grey;
}

.audio-progress .bar {
  height: 100%;
  background-color: #E95F74;
}

#audio-progress-handle {
  display: block;
  position:absolute;
  z-index: 1;
  margin-top: -5px;
  margin-left: -10px;
  width: 10px;
  height: 10px;
  border: 4px solid #D3D5DF;
  border-top-color: #D3D5DF;
  border-right-color: #D3D5DF;
  transform: rotate(45deg);
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
  cursor:pointer;
}

/*.draggable {
  float: left; margin: 0 10px 10px 0;
}*/

#audio-player-container{
  background: red;
    width: 500px;
    position: absolute;
}

#posX{
  height: 50px;
  width: 50px;
  background-color: yellow;
  left:400px;
  position: absolute;
}

.control-buttons{
  align-items: center;
  justify-content: center;
}

/**/

/*Chrome*/

input{ outline: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 50%;
      -webkit-appearance: none;
      background-color: #9a905d;
    }
    
    input[type='range']::-webkit-slider-runnable-track {
      height: 10px;
      -webkit-appearance: none;
      color: red;
      margin-top: -1px;
    }
    
    input[type='range']::-webkit-slider-thumb {
      width: 10px;
      -webkit-appearance: none;
      height: 10px;
      cursor: ew-resize;
      background: #434343;
      box-shadow: -80px 0 0 80px green;
    }

}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: #43e5f7; 
}
input[type="range"]::-moz-range-track {  
  background-color: #9a905d;
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: #43e5f7; 
}



.container {
    display: inline-block;
    cursor: pointer;
    background-color: 'red'
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*l*/


body
{
  margin: 0;
  padding: 0;
  
  /*background: #232323;*/
  background-color: #F8F8F8;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

/*a:hover
{
  color: tomato;
}*/

#menuToggle
{
  
  /*display: block;*/
  /*position: fixed;*/
  /*top: 50px;*/
  /*left: 25px;*/
  /**/

}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: red;
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background-color:  #cdcdcd;
  display: none; /* hide icon */
}
.menu-close-active{
  color: green;
  
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
   background-color:  #cdcdcd;
}
.menu-close-active{
  position: relative;
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
   /*background-color:  #cdcdcd;*/
   background-color: red;
   /*float: right;*/
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
  /*position: absolute;*/
  width: 220px;
  height: 100px;
  padding-left: 0;
  width: 300px;
  height: 100%;
  /*margin: 0px 0 0 -50px;*/
  /*paddsing: 50px;*/
  /*padding-top: 125px;*/
  /*background: green;*/
  /*background: #ededed;*/
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  position: absolute;
}

.menu li
{
  /*padding: 10px 0;
  font-size: 16px;*/
  text-align: center;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

#login-container{
  background-color:#f5f5f5;
    height: 100%;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.login-form{
      width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: #F5F5F5;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
}
.loginForm{
  width: 300px;
}
/*/*/


#form-container{
  background-color: white;
}

#form-container h3{
  padding: 50px 50px 0 50px;
}
.form-group-collection{
   width: 300px;
  margin: 0 auto 100px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}
.form-group-collection img{
  width: 75%;
    margin: auto;
    padding-bottom: 10%;
}
.form-group{
  display:flex;
}
.loginBtn{
  outline: 0;
    background-color: tomato ;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f5f5f5;
    border-radius: 3px;
    margin-top: 20px;
}



.default-home-container {
  display: flex;
  background-color: #ff7675;
  width: 100%;
  justify-content:center;
  /*flex-direction: column;
  justify-content: center;
  align-content: center;*/ 
}
.default-home-container p{

}

.default-home-item{
  color:white;
  margin-left: 50px;
 
  
}
.default-home-container p{
   font-family: "Avenir Next", "Avenir", sans-serif;
}

.all-songs-container{
      display: flex;
    flex-direction: column;
    flex-direction: row;
    flex-wrap: wrap;
}


.song-container{
    height: 250px;
    width: 250px;
    background: #f5f6fa;
}

.song-image img {
    width: 250px;
    height: 150px;
}

.song-title p{
  font-size: 12px;
}


.app-container{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  flex-direction:column;
}


.body-container{
  display:flex;
  flex-direction:row;
  height:90%;
  width:100%;
}

.footer-container{
  
  height:10%;
  width:100%;
  padding: 20px 0 0px 0 
}

.favorites-container{
  /*height:90%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  top:-10px;
  flex: 1;
  overflow:scroll;*/
   height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  
  flex: 1;
  overflow:scroll;
 
  /*background: green;*/
}

@media (min-width: 500px) {
  .menu{
    background: red;
  }

}

 .menu{
    background: blue;
  }

/*.default-home-container{
  height:90%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  top:-10px;
  flex: 1;
  overflow:scroll;
}*/

.artist-container{
  padding: 10px;
}

.all-artists-container{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  
  flex: 1;
  overflow:scroll;
}

.fav-song-title{
  font-size: 12px;
}
.fav-song-album{
   font-size: 12px;
}
.fav-song-durationMillis{
   font-size: 12px;
}
.fav-song-artist{
   font-size: 12px;
}
 
.fav-song-buttons{
  display: flex;
  flex-direction: row;
}

.search-results-container{
   height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  position: relative;
  flex: 1;
  overflow:scroll;

}

.search-input{
   border-radius: 20px;
   width: 200px;
   padding-top:10px;
   padding-left: 23px;
   font-family: "Avenir Next", "Avenir", sans-serif;
}
